body{
 background-color: #EEEEEE;
 margin: 0;
 padding: 0;

}


.navbuttons{
  float: right;
  position: relative;
  top: 40%;
  margin-right: 1%;

}

.navbuttons:hover{
  background-color: #E3E3E3;
}

.banner{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

#bannermainpage{
    background-image: url("https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/15337460_10156706991624619_5215222590071351097_n.png?oh=f58e74e489a39baee3464c8bcd4c0b46&oe=59457678");
}

.bannertxt{
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  text-align: center;
  color: #FFFFFF;

}


#nav{
  width: 100%;
  height: 10%;
  background-color: #FFFFFF;
  position: fixed;
  border-bottom: 3px solid blue; /* <-------------------------------------- A revisar --------------------------*/
}

#logo{
  max-width: 90%;
  max-height: 75%;
  margin: 1%;
}


</style>
</head>
<body>
</style>
</head>
<body>
