a:visited{
  color: blue;
}

body{
 background-color: #EEEEEE;
 margin: 0;
 padding: 0;

}

hr{
  border: 1px solid #AAAAFF;
}

.allTips{
  float: right;
  width: 43%;
  height: 50%;
  margin-top: 2%;
  border: 2px solid blue;
  padding: 1%;
  background-color: #FFFFFF;
}

.apartado{
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
}

.avatar{
  width: 10%;
  height: 15%;
  float: left;
}

.banner{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.bannertxt{
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  text-align: center;
  color: #FFFFFF;

}

.bestTips{
  float: right;
  width: 43%;
  height: 22%;
  border: 2px solid blue;
  padding: 1%;
  background-color: #FFFFFF;
}

.botonesDescripcion{
  float:left;
  height: 15%;
  width: 27.5%;
  margin-left: 1%;

}

.clickableTip{
  margin: 1%;
  margin-bottom: 1.5%;
  padding: 1%;
}

.clickableTip:hover{
  background-color: #DDDDDD;
}

.clickableTipLink{
  color: black;
  text-decoration: none;
}

.clickableTipLink:visited{
  color: black;
}

.content{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  padding: 1%;
  height: auto;
  display: inline-block;
  width: 87.5%;
  overflow: hidden;
}

.cuadrosDerechos{
  margin-right: 5%;
  float: right;
  width: 40%;
  text-align: center;
}

.cuadrosIzquierdos{
  margin-left: 5%;
  float: left;
  width: 40%;
  text-align: center;
}

.dailyTips{
  float: left;
  width: 50%;
  height: 80%;
  border: 2px solid blue;
  padding: 1%;
  background-color: #FFFFFF;
}

.descripcion{
  vertical-align: top;
  width: 50%;
  height: 50%;
  float: right;

}

.evento{
  border: 2px solid blue;
  width: 100%;
  height: 35%;
  margin-bottom: 2%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.eventoDescripcion{
  float: left;
  margin: 1.5%;
  width: 80%;
  height: 75%;
  text-align: justify;

}

.fb-like{
  vertical-align: bottom;
}

.foroDescripcion{
  vertical-align: top;
  width: 60%;
  height: 15%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}

.fullSizehr{
  width: 100%;
}

.interactive:hover{
  cursor: pointer;
}

.imagenMediana{
  margin-top: 5%;
  margin-left:10%;
  margin-right: 10%;
  width: 80%;
  height: 50%
}

.imgEvento{
  border: 3px solid #DDDDDD;
  border-radius: 20px;
  margin: 2%;
  margin-top: 3%;
  width: 10%;
  height: 60%;
  float: left;
}
.importante{
  background-color: yellow;
  width: 10%;
}

.navbuttons{
  float: right;
  position: relative;
  top: 40%;
  margin-right: 1%;

}

.navbuttons:hover{
  background-color: #E3E3E3;
}

.navLink{
  color: black;
  text-decoration: none;
}

.navLink:visited{
  color: black;
}
.panoramic{
  width: 100%;
  height: 100%;

}

.textTips{
  padding: 5%;
  text-align: justify;
  height: 70%
}

.title{
  font-size: 20px;
}

#bannermainpage{
    background-image: url("https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/15337460_10156706991624619_5215222590071351097_n.png?oh=f58e74e489a39baee3464c8bcd4c0b46&oe=59457678");
}

#evento1{
  background-image: url("https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/18033945_611591112359832_1460398123004208048_n.jpg?oh=734c6a0c816f349a40c4c64033e8a7d1&oe=59845D0C");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#evento2{
  background-image: url("https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/18118780_10157257388724619_2741852906027225886_n.jpg?oh=68bd3acf8560ec62812392c400db4eab&oe=59BE7911");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#evento3{
  background-image: url("https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/17884339_607251582793785_9219795890369749512_n.jpg?oh=63c63e14cf63cb9549c40d7f6c367ac9&oe=597867BA");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#links{
  background-color: #FFFFFF;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  border: 3px solid blue;
}

#logo{
  max-width: 90%;
  max-height: 75%;
  margin: 1%;
}

#nav{
  width: 100%;
  height: 10%;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 100;
  border-bottom: 3px solid blue; /* <-------------------------------------- A revisar --------------------------*/
}
