

body{
 background-color: #EEEEEE;
 margin: 0;
 padding: 0;

}



hr{
  border: 1px solid #AAAAFF;
}
.avatar{
  width: 10%;
  height: 15%;
  float: left;
}
.apartado{
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
}
.panoramic{
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.fb-like{
  vertical-align: bottom;
}
.descripcion{
  vertical-align: top;
  width: 50%;
  height: 50%;
  display: inline-block;
}
.foroDescripcion{
  vertical-align: top;
  width: 50%;
  height: 15%;
  display: inline-block;
  border: 1px solid black;
  float: left;
  margin-left: 1%;
}
.botonesDescripcion{
  float:left;
  border: 1px solid blue;
  height: 15%;
  width: 37.5%;
  margin-left: 1%;
}


.navbuttons{
  float: right;
  position: relative;
  top: 40%;
  margin-right: 1%;

}

.navbuttons:hover{
  background-color: #E3E3E3;
}

.interactive:hover{
  cursor: pointer;
}
.banner{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}


.bannertxt{
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  text-align: center;
  color: #FFFFFF;

}

.content{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  padding: 1%;
  height: auto;
  display: inline-block;
  width: 87.5%;
}

.cuadrosIzquierdos{
  margin-left: 5%;
  float: left;
  width: 40%;
  text-align: center;
}

.cuadrosDerechos{
  margin-right: 5%;
  float: right;
  width: 40%;
  text-align: center;
}

.imagenMediana{
  margin-top: 5%;
  margin-left:10%;
  margin-right: 10%;
  width: 80%;
  height: 50%

}

.importante{
  background-color: yellow;
  width: 10%;
}

.fullSizehr{
  width: 100%
}

#nav{
  width: 100%;
  height: 10%;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 100;
  border-bottom: 3px solid blue; /* <-------------------------------------- A revisar --------------------------*/
}

#logo{
  max-width: 90%;
  max-height: 75%;
  margin: 1%;
}

#bannermainpage{
    background-image: url("https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/15337460_10156706991624619_5215222590071351097_n.png?oh=f58e74e489a39baee3464c8bcd4c0b46&oe=59457678");
}

#links{
  background-color: #FFFFFF;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  border: 3px solid blue;
}
